body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.choice {
  display: flex;
  flex-direction: column;
  margin: 3rem auto auto auto;
  padding: 5rem;
  height: 8rem;
  border-bottom: 2px solid grey;
  background-color: red;
  font-size: 2em;
}

@media screen and (max-width: 800px){
  .choice {
    padding: 3px;
    display: flex;
  }
}

@media screen and (max-width: 500px){
  .choice {
    padding: 0px;
    display: flex;
    font-size: 1rem;
  }
}



.Logo {
  background-image: url(/front-end/public/Logo3.svg);
  max-height: 3rem;
}

.field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  /* position: relative; */
  background-color: rgb(229, 234, 235);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(253, 253, 253, 0.76);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}